<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>

<body>
  <section class="section">
    <div class="container">
      Like to poke around huh? You know ...curiosity... it killed the cat.
      <br><br>
      I'll reward you still I suppose. I'll tell you a secret.
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
      I've been laying low, motionless, paralyzed by the changes in the industry. The greed. The avarice.
      <br>
      <br>
      What about my greed? What about my
      <br>

      <h1 class="glitch glitch--avarice-hero" data-text="AVARICE.">AVARICE.</h1>
      <br>

      You'll know soon enough.

    </div>
  </section>
</body>

</html>