<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% if page is defined and page.title %}{{ page.title }} | {% elif section is defined and section.title %}{{ section.title }} | {% endif %}witherrors</title>

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{% if page is defined and page.title %}{{ page.title }}{% elif section is defined and section.title %}{{ section.title }}{% else %}witherrors{% endif %}">
  
  {% if page is defined and page %}
    <meta property="og:description" content="{{ page.description | default(value='A technical blog and grimoire from witherrors.org') }}">
    <meta property="og:url" content="{{ page.permalink }}">
    {% if page.extra is defined and page.extra.image %}
      <meta property="og:image" content="{{ page.permalink }}{{ page.extra.image }}">
    {% endif %}
  {% elif section is defined and section %}
    <meta property="og:description" content="{{ section.description | default(value='A technical blog and grimoire from witherrors.org') }}">
    <meta property="og:url" content="{{ section.permalink }}">
  {% else %}
    <meta property="og:description" content="A technical blog and grimoire from witherrors.org">
    <meta property="og:url" content="{{ current_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>

<!-- top bar links -->
<body>
  <nav class="nav">
    <div class="container">
      <a href="{{ get_url(path='/') }}" class="{% if current_path == '/' %}active{% endif %}">home</a>
      <a href="{{ get_url(path='about') }}" class="{% if current_path == '/about/' %}active{% endif %}">about</a>
      <a href="{{ get_url(path='posts') }}" class="{% if current_path is starting_with(pat='/posts/') %}active{% endif %}">posts</a>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
  </section>
</body>

</html>