{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description | default(value='A post from witherrors.org') }}">
    
    {% if page.extra.image %}
        {# This builds the absolute URL to your image based on your current page path #}
        <meta property="og:image" content="{{ get_url(path=page.extra.image, trailing_slash=false) }}">
    {% endif %}
    
    <meta property="og:url" content="{{ current_url }}">
</head>
{{ page.content | safe }}
{% endblock content %}
